*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

.menu{
    list-style: none;
    display: flex;
    font-family:'Times New Roman', Times, serif;
}