@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@700&display=swap');
@import url(big.css) (min-width:900px);

*{
    margin: 0;
    padding: 0;
}

li, a{

    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    color: #fff;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;

}

 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 50px;
    box-sizing: border-box;
    padding: 50px;
    background-color: #4fbffe;
    max-height: 100vh;
    min-width: 100;
    min-width: 900px  
  }
  
  

  header img {
    width: 40px;
    min-width: 50px;


} 

.grid_conteiner{
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: brown;
}

a{
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    color: #fff;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
}

.logo{
    min-width:100px;
    max-width: 13%;
}

.logo img{
    display: flex;
    min-width: 30%;
    width: 100%;
    background-color: #fff;
}

.menu{
    display: flex;
    gap: 20px;
    background-color: #ffc90e;
}
.menu img{
    max-width: 40%;
    min-height: 20%;
}

.barra_amarela{

    position: relative;
    top: 0vh;
    background-color: #ffc90e;
    order: 1;
    height: 5vh;
    width: 100vw;
}

.social{
    width: 14%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
     
}


.social img{
    max-width: 20%;
    
    

}

.barra_amarela{
    background-color: #ffc90e;
    height: 4vh;
    max-width: 100%;
}






.menu li{
    display: inline-block;
    padding: 0 20px;
}




.logo_whatsapp{
    position: absolute;
    top: 62%;
    margin-left: 15%;
   

}


.cachorro_e_gato{
    position: absolute;
    margin-top: -5px;
    margin-left: 68%;
    top: 50%;
}

 .onda{
    position: absolute;
    margin-top: 5%;
    margin-left: -0%;
    top: 45%;
}

.mapa{
    position: absolute;
    width: 751px;
    left: 60%;
    top: -9px;
}

 


.barra{
    border-left: thick solid #C4C4C4;
    height: 55%;
    left: 51%;
    top: 144px;
    position: absolute;
    width:.3vw;
    border-width:0;
    color:#C4C4C4;
    background-color:#C4C4C4; 
}

.barra_grande_azul{
    background: #4FBFFE;
    position: absolute;
    top: 790px;
    left: 0px;
    height: 250px;
    width: 100%;
}


.barra_dentro_barra_azul{
    border-left: thick solid #ffffff;
    height: 35%;
    left: 51%;
    top: 1120px;
    position: absolute;
    width:.3vw;
    border-width:0;
    color:#ffffff;
    background-color:#ffffff; 

}

.mapa{
    position: absolute;
    top: 820px;
    
}


h1{
    position: relative;
    text-align: left;
    top: 75px;
    margin-left: 8%;
    font-family:'Sulphur Point', 'sans-serif';
    font-size: 55px;

    
}

h2{
    position: relative;
    text-align: left ;
    margin-top: -45px;
    margin-left: 58%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    
}

h3{
    position: absolute;
    text-align: left;
    top: 53%;
    margin-left: 7%;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px
}

 .segundoH3{
    position:relative;
    text-align: left;
    top: 320px;
    margin-right: -450px;
    font-family:'Sulphur Point', sans-serif;
    font-size: 43px;
} 



 .segundaH2 {
 
     margin-top: -200px;
     margin-left:-130px;
     font-family: 'Work Sans', sans-serif;
     font-size: 26px;
     color: #fff;
     text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
 }

