*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1920px;
}

li, a{

    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    text-decoration: none;


}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  10%;
    background-color: #4FBFFE;
}

.menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 0 20px;
}

.redes_sociais{

    position: relative;
    margin-left: auto;
    margin-right: auto;
}





h1{
    position: relative;
    text-align: left;
    margin-top: 99px;
    margin-left: 89px;
    font-family:'Times New Roman', Times, serif;
    font-size: 55px;
    
}

h2{
    position: relative;
    text-align: left ;
    margin-top: 112px;
    margin-left: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    
}
